

body {
    margin: 0;
    font: 16px arial;
    background: #181857;
    color: #fff;
}

header {
    padding: 24px;
    text-align: center;
    padding: 20px;
}

nav {
    text-align: left;
}

main {
    max-width: 950px;
    margin: auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, mimax(180px, 1fr));
    gap: 16px;
}

.game {
    overflow: hidden;
    background: #31316e;
    border-radius: 18px;
}

img{
    width : 100%;
    height: 150px;
}

button,
.button {
    border: 0;
    border-radius: 12px;
    padding: 11px 16px;
    background: #b9cbec;
    color: #484bff;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
    transition: .2s;
}

button:hover,
.button:hover {
    background: #484bff;
    color: #b9cbec;
}



.secondary:hover {
    background: #dfeaff;
}

.hidden {
    display: none;
}





@media (max-width: 520px) {
    header {
        text-align: left;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 520px) and (max-width: 1025px) {
    header {
        text-align: center;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1025px) {
    header {
        text-align: center;
    }

    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}





/* Layout da caixa de busca */
.search-box {
    display: flex;
    gap: 8px;
    max-width: 500px;
    margin: 20px auto;
    width: 100%;
}

.search-box input {
    flex: 1;
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.search-box input:focus {
    border-color: #007bff;
}

.search-box button {
    padding: 10px 16px;
    font-size: 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
}

.search-box button:hover {
    background-color: #0056b3;
}

/* Área de Resultado */
.resultado {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    font-family: sans-serif;
}

.resultado img {
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsividade para telas menores (celular) */
@media (max-width: 480px) {
    .search-box {
        flex-direction: column;
    }
}




/* Estilo quando o microfone estiver ativado */
.search-box button.gravando {
    background-color: #dc3545; /* Vermelho */
    animation: piscar 1s infinite alternate;
}

@keyframes piscar {
    from { opacity: 1; }
    to { opacity: 0.6; }
}
